.container {
    width: 100%;
    height: 100%;

    >div {
        position: unset !important;
        min-height: 100%;
    }

    &.intrinsic {
        >div {
            width: 100%;

            >div:first-child {
                display: none !important;
            }
        }
    }

    .image {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
        object-position: center center;
    }

    &.alignTop {
        >div {
            display: flex !important;
            justify-content: center;
        }
    }

    &.alignBottom {
        >div {
            display: flex !important;
            justify-content: center;
            align-items: flex-end;
        }
    }

    &.alignRight {
        >div {
            display: flex !important;
            justify-content: flex-end;
        }
    }

    &.alignLeft {
        >div {
            display: flex !important;
        }
    }

    &.alignCenter {
        >div {
            display: flex !important;
            justify-content: center;
            align-items: center;
        }
    }

    &.background {

        >div {
            position: relative !important;
            min-height: 100%;
        }

        .image {
            object-fit: cover;
            width: 100% !important;
            height: 100% !important;
            position: absolute !important;
        }
    }
}