@import "../../../styles/variables.scss";

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    @media screen and (max-width:991px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width:768px) {
        grid-template-columns: 1fr;
    }
}

.slider {
    .pageing {
        display: block;
        width: 1.5rem;
        height: 3px;
        background-color: $red;
        transition: 0.3s ease-in-out;


        &:hover {
            color: $white;
        }
    }
}