@import "../variables.scss";


.home {

    .landing {

        .content {
            display: grid;
            grid-template-columns: 50% 50%;
            min-height: 90vh;

            .text {
                display: flex;
                justify-content: center;
                flex-direction: column;

                h1 {
                    font-weight: 600;
                    margin: 0 0 1rem 0;
                }

                p {
                    font-weight: 400;
                    font-size: 0.95rem;
                }

                .buttons {
                    margin-top: 1rem;

                    >:last-child {
                        margin-left: 1rem;
                    }
                }
            }
        }

        .image {
            opacity: 0.5;
        }
    }

    .about {
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;

            .item {
                padding: 2rem;
                background-color: $white;
                transition: 0.2s ease-in-out;

                img {
                    width: 5rem;
                }

                h4 {
                    margin: 1.5rem 0 0 0;
                }

                hr {
                    @include reset-hr;
                    height: 1px;
                    background-color: $grey;
                    width: 100%;
                    margin: 1.5rem 0 1.5rem -2rem;
                }

                p {
                    font-size: 0.9rem;
                }

                button {
                    @include reset-button;
                    margin-top: 1.5rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;

                    i {
                        margin-left: 0.5rem;
                        padding: 0.25rem;
                        background-color: $red;
                        color: $white;
                    }
                }

                &:hover {
                    background-color: $red;

                    h4,
                    p,
                    button {
                        color: $white !important;
                    }
                }
            }
        }
    }

    .services {
        background-image: url("/images/pages/home/services.png");
        background-position: top right;
        background-size: 100% auto;
        background-repeat: no-repeat;


        .button {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }
    }

    .projects {
        .button {
            display: flex;
            justify-content: center;
            margin-top: 2rem;

            button {
                color: $white;
            }
        }
    }
}