@import "../../../styles/variables.scss";

.footer {
    padding: 2rem 0;
    background-color: $grey;
    color: $white;

    .grid {
        display: grid;
        grid-template-columns: 1fr 0.5fr 0.5fr;
        gap: 2rem;

        .info {
            img {
                width: 60%;
                margin-left: -0.5rem;
            }

            >p {
                font-weight: 300;
                color: $white;
                font-size: 0.9rem;
            }

            .copy {
                margin-top: 1rem;

                p {
                    font-size: 0.7rem;

                    a {
                        color: $red;
                    }
                }
            }
        }

        .menu {

            h5 {
                font-size: 1rem;
                font-weight: 600;
                margin: 0;
            }

            ul {
                @include list-reset;
                margin-top: 1.5rem;

                li {
                    font-size: 0.85rem;
                    color: $lightgrey;
                    margin: 0.1rem 0;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}