@import "./variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  font-family: $font;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  color: $grey;
  transition: 0.3s ease-out;
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &.noscroll {
    height: 100vh;
    overflow: hidden;
  }
}

// Typography

a {
  text-decoration: none;
  transition: 0.2s ease-in-out;
  color: unset;
  display: block;
}

p {
  color: $lightgrey;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

// Scrollbar

::-webkit-scrollbar {
  width: 6px;

  &-track {
    background: $white;
  }

  &-thumb {
    background: $grey;
    transition: 0.4s ease-in-out;

    &:hover {
      background: $red;
    }
  }

}

// Button

.button {
  background-color: $red;
  border: 2px solid $red;
  padding: 0;
  position: relative;
  cursor: pointer;

  a,
  p {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.25rem;
    color: $white;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin: 0;

    i {
      margin-right: 0.5rem;
    }
  }

  &:hover {
    background-color: transparent;
    transition: 0.3s ease;

    a,
    p {
      color: $grey;
    }
  }

  &:focus {
    outline: none;
  }

  &--hollow {
    background-color: transparent;
    border-color: transparent;

    a,
    p {
      padding: 0.7rem 1.45rem;
    }

    &:hover {
      color: $red;
    }

  }

  &--border {
    background-color: transparent;

    a,
    p {
      color: $red;
      font-weight: 600;
    }

    &:hover {
      background-color: $red;

      a,
      p {
        color: $white;
      }
    }
  }
}

// Container

.container {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}