@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hdn1th');
  src:  url('fonts/icomoon.eot?hdn1th#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hdn1th') format('truetype'),
    url('fonts/icomoon.woff?hdn1th') format('woff'),
    url('fonts/icomoon.svg?hdn1th#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e903";
}
.icon-block:before {
  content: "\e902";
}
.icon-arrow_right:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e900";
}
